<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelSingleTest" parallel="methods" thread-count="6">

    <test name="GoogleTest1">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.gyan.selenium.test.GoogleTest"/>
        </classes>
    </test>
    <test name="GoogleTest2-headless">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.gyan.selenium.test.GoogleTest2"/>
        </classes>
    </test>
</suite>